body {
    position: relative;
    color: azure;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/mashle.webp'); 
    background-repeat: repeat; 
    background-size: 350px; 
    opacity: 0.8;
    z-index: -1; 
}

h1 {
    color: #250e5f;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.destaque {
    background-color: #47104d;
    width: 50%;
    font-weight: bold;
    padding: 5px;
    margin: 5px 0;
}

#container {
    border: 2px solid #250e5f;
    padding: 20px;
    margin: 20px auto;
    background-color: #2522a7;
}

#container p::first-line {
    font-weight: bold;
    color: #dbc9ff;
}

.destaque + li {
    color: #dbc9ff;
    font-style: italic;
}

li:nth-child(odd) {
    background-color: #250e5f;
    width: 50%;
}

a:hover {
    text-decoration: underline;
    color: #dbc9ff;
}

ul::before {
    content: "Lista: ";
    font-weight: bold;
    color: #dbc9ff;
}
